.caption-h1 {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 1.7rem;
  color: #2c572c;
}
.caption-h2 {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 1.3rem;
  color: #2c572c;
}
