.caption-h1 {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 1.7rem;
  color: #2c572c;
}
.caption-h2 {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 1.3rem;
  color: #2c572c;
}
.TVoptionsSection {
  padding: 15px 0;
  margin: 0 0 15px 0;
  border-bottom: 1px dashed #57ab57;
}
.TVoptionsList {
  display: grid;
  grid-gap: 10px;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  justify-content: space-between;
  margin: 0;
  padding: 0;
}
@media (max-width: 1024px) {
  .TVoptionsList {
    grid-template-columns: 1fr 1fr;
  }
}
@media (max-width: 425px) {
  .TVoptionsList {
    grid-template-columns: 1fr;
  }
}
.TVoptionsSection__caption {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 1.7rem;
  color: #2c572c;
  text-align: center;
  padding-bottom: 15px;
  margin: 0;
}
